@keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .map-container {
    animation: fadeIn 1s ease-in-out;
    background-color: #f0f0f0; /* 빈 배경 색상 설정 */
  }
  
  .highlight-button:hover {
    border: 2px solid #007BFF; /* 테두리 색상 변경 */
    background-color: #f0f8ff; /* 배경색 변경 */
    color: #007BFF; /* 글자 색상 변경 */
  }
  
  /* 새로 추가된 스타일 */
  .highlight-button {
    position: absolute;
    right: 40px;
    z-index: 10;
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .current-location-button {
    top: 275px;
  }
  
  .traffic-button {
    top: 380px;
  }
  
  .button-icon {
    width: 80px;
    height: 80px;
  }
  
  @media (max-width: 768px) {
    .highlight-button {
      width: 25px;
      height: 25px;
      right: 20px;
    }
    
    .current-location-button {
      top: 250px;
    }
    
    .traffic-button {
      top: 320px;
    }
    
    .button-icon {
      width: 40px;
      height: 40px;
    }
  }